<!-- header content -->
<div style="margin-top: 8px" class="carousel carousel-slider center" data-indicators="true">
    <!-- <div class="carousel-fixed-item center">
        
    </div>  -->
    <div class="carousel-item white white-text" href="#one!" style="height: 250px;min-height: 250px">

        <img style="width: 200px;height: 200px" [src]="'assets/images/test-mirror_foundation.jpg'" [alt]="'mirror_foundation.jpg'">
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h4 class="center blue-text lighten-text-2">มูลนิธิกระจกเงา</h4>
    </div>
    <div class="col s12 m12 l12 xl12">
        <p class="center blue-text lighten-text-2" style="font-size: 16px">
            <strong>ยอดบริจาคปัจจุบัน:</strong>
            <span>&nbsp; {{25000 | currency}}</span>
        </p>
        <p class="center blue-text lighten-text-2" style="font-size: 16px">
            <strong>สถานะโครงการ:</strong>
            <span class="status-badge active-badge">2 ดำเนินการ</span>
            <span class="status-badge done-badge">3 สำเร็จ</span>
        </p>
    </div>
    <div class="col s12 m12 l12 xl12">
        <div class="center">
            <a class="waves-effect blue lighten-2 white-text waves-light btn">สร้างแคมเปญ</a>
            <a class="waves-effect blue lighten-2 white-text waves-light btn">แก้ไขข้อมูล</a>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h5 class=" blue-text lighten-text-2">รายการแคมเปญ</h5>
    </div>
    <div class="col s12 m12 l12 xl12">
        <div class="input-field col s12 m12 l12 xl12">
            <input placeholder="ค้นหา" id="first_name" type="text" class="validate">
        </div>
    </div>
    <div class="col s12 m12 l12 xl12">

    </div>
</div>