<div class="row">
    <div class="col s12 m12 l12 xl12">
        <div class="divider"></div>
        <div class="section">
            <div class="col s12 m12 l12 xl12">
                <h5 class="blue-text lighten-text-2">ADS FOR DONATE</h5>
            </div>
            <div class="col s12 m12 l12 xl12">
                <span class="right blue-text lighten-text-2">see all>></span>
            </div>
            <div class="col s12 m12 l12 xl12">
                <p class="center">No ads for donate !</p>
            </div>
        </div>
        <div class="col s12 m12 l12 xl12">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="col s12 m12 l12 xl12">
                <h5 class="blue-text lighten-text-2">CHARITY</h5>
            </div>
            <div class="col s12 m12 l12 xl12">
                <span class="right blue-text lighten-text-2">see all>></span>
            </div>
            <div class="col s12 m12 l12 xl12">
                <comp-charity-carousel [data]="state.charity"></comp-charity-carousel>
            </div>
        </div>
    </div>
</div>